body {
    background-image: url("../images/seamless.png");
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
    color: #0F0A0A;
    /* text-shadow: 2px 2px 13px rgb(41, 38, 40); */
   
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
}



.main-header {
    text-align: center;
    border-bottom: solid #E28413 10px;
    padding: 15px 0px 30px 0px; 
    background: #BDBF09;
   
}

h2 {
    font-size: 60px;
    font-family: 'Shrikhand', cursive;
    color: #0F0A0A;
    /* -webkit-text-stroke: 3px black; */
}

h4 {
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    font-family: 'Shrikhand', cursive;
}

label {
    font-size: 20px;
}



