body {
    background-image: url("../images/background.jpg");
    font-family: 'Passion One', cursive;
}

#buttons {
    font-family: 'Unica One', cursive;
    font-size: large;
}

.container {
    width: 2000px;
}

.main-header {
    text-align: center;
    border-bottom: solid rgb(143, 13, 93);
    padding: 0px 0px 30px 0px;
    font-size: 60px;
    text-shadow: 2px 2px 13px rgb(107, 84, 98);


}